
.barstruct {
  // border-radius: $round;
  background-color: $base;
  padding: $padding;
  transition: border-radius 500ms, margin 500ms;
  border-radius: 0;
  &.right {
    border-bottom-right-radius: $round + 10px;
  }
  &.left {
    border-bottom-left-radius: $round + 10px;
  }
}

.widget {
  margin: $margin;
  padding: $padding;
  border-radius: $round;
  background-color: $surface0;
  transition: margin 500ms, border-radius 500ms, padding 500ms;
  &label {
    font-size: 5px;
  }
  &.float {
    margin: $margin;
    border-radius: $round;
  }
  &.top {
    margin-top: -$padding; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 2*$padding; 
  }
  &.topr {
    margin-top: -$padding; 
    margin-right: -$padding; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 2*$padding; 
  }
  
  &.transparent {
    background-color: transparent;
  }
}

.sidedeco {
  background-color: $base;
  transition: border-radius 500ms, margin 500ms;
  margin: -$padding;
  &.bottom {
    background-color: $surface0;
  }
  &.activeleft {
    border-top-right-radius: $round+10px;
  }
  &.activeright {
    border-top-left-radius: $round+10px;
  }
}

.wspill {
  margin: $margin;
  border-radius: $round;
  background-color: $surface1;
  &.active {
    background-color: $accent;
  }
}

.musiccover {
  transition: 500ms ease;
  background-color: $surface0;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $margin 0px;
  opacity: 1.0;
}

.baticon {
  @extend .icon;
  &.charging {
    color: $green; 
  } 
  &.dying {
    color: $red; 
  }
}


.barpfp {
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('./assets/roundpfp.png');
  opacity: 1.0;
}
