
.barstruct {
  // border-radius: $round;
  background-color: $base;
  padding: $padding;
  transition: border-radius 500ms, margin 500ms;
  &.right {
    border-bottom-right-radius: $round + 10px;
  }
  &.left {
    border-bottom-left-radius: $round + 10px;
  }
}

.widget {
  margin: $margin;
  padding: $padding;
  border-radius: $round;
  background-color: $surface0;
  transition: margin 500ms, border-radius 500ms, padding 500ms;
  &label {
    font-size: 5px;
  }
  &.float {
    margin: $margin;
    border-radius: $round;
  }
  &.top {
    margin-top: -$padding; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 2*$padding; 
  }
  &.topr {
    margin-top: -$padding; 
    margin-right: -$padding; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 2*$padding; 
  }

}

.sidedeco {
  background-color: $base;
  transition: border-radius 500ms, margin 500ms;
  margin: -$padding;
  &.bottom {
    background-color: $surface0;
  }
  &.activeleft {
    border-top-right-radius: $round+10px;
  }
  &.activeright {
    border-top-left-radius: $round+10px;
  }
}

.wspill {
  margin: $margin;
  border-radius: $round;
  background-color: $surface1;
  &.active {
    background-color: $accent;
  }
}

.musiccover {
  transition: 500ms ease;
  background-color: $surface0;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $margin 0px;
  opacity: 1.0;
}

.baticon {
  @extend .icon;
  &.charging {
    color: $green; 
  } 
  &.dying {
    color: $red; 
  }
}

.fakecornersl {
  transition: box-shadow 500ms, border-radius 500ms, margin 500ms;
  margin: 0;
  &.active {
    margin: 10px;
    margin-top: 0;
    border-radius: $round + 10px; 
    box-shadow: 0px 0px 0px 50px $base;
  }
  &.inactive {
    border-radius: 0;
    box-shadow: none;
  }
}

.fakecornersr {
  transition: box-shadow 500ms, border-radius 500ms;
  &.active {
    border-top-right-radius: $round + 10px; 
    border-bottom-right-radius: $round + 10px; 
    box-shadow: 
      20px -20px 0px $base,
      20px 20px 0px $base;
  }
  &.inactive {
    border-radius: 0;
    box-shadow: none;
  }
}

.filler {
  margin: 0px;
  margin-top: 10px;
  margin-left: -1px;
  margin-right: -1px;
  border-top-left-radius: $round + 10px;
  border-top-right-radius: $round + 10px;
  box-shadow: 
    0px -26px 0px 5px $base,
}

.barpfp {
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('./assets/roundpfp.png');
  opacity: 1.0;
}
