
.musiccoverbg {
  transition: 500ms ease;
  background-color: $surface0;
  border-radius: $round;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $margin;
  padding: $padding;
  opacity: 0.15;
}

.dashmusiccover {
  transition: 500ms ease;
  background-color: $surface0;
  border-radius: $round;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $margin;
  padding: $padding;
  opacity: 1.0;

  &.enlarge {
    padding: 120px;
    margin: 115px;
    margin-bottom: 40px;
    &.playing {
      padding: 160px;
      margin: 75px;
      margin-bottom: 0px;
    }
  }
}

.fadeoutbox {
  margin: $margin;
  padding: $padding;
  &.active {
    background-image: linear-gradient(90deg, transparent, $surface0);
  }
  border-radius: $round;
}

.timer button{
  background-color: $surface0;
  margin: $margin;
  padding: $padding 10px;
  border-radius: $round - 10px;
}

.hseparator {
  margin: $margin; 
  padding: 2px;
  background-color: $surface0; 
  border-radius: $round;
} 

.whiteboard {
  @extend .widget;
  background-color: $base;
  border: solid 2px;
  border-color: $surface0;
  padding: 0;
}

.whiteboardhead {
  background-color: $surface0;
  padding: $padding; 
  border-top-left-radius: $round - 2px;
  border-top-right-radius: $round - 2px;
  &.left {
    border-top-right-radius: 0;
  }
  &.right {
    border-top-left-radius: 0;
  }
  &.active {
    background-color: $surface1;
  }
}

.eventimg {
  @extend .widget; 
  border-radius: $round - 10px;
  label {
    @extend .icon;
    color: $base;
  }
  &.accent {
    background-color: $accent;
  }
  &.red {
    background-color: $red;
  }
  &.green {
    background-color: $green;
  }
}

.subwidget {
  @extend .widget;
  border-radius: $round - 10px;
}
