
.dockindicate {
    transition: padding-right 500ms;
    background-color: $white0;
    border-radius: 5px;
    &.active {
      padding-right: 10px;
    }
    &.inactive {
      padding-right: 5px;
    }
}

.dockpopup {
  background-color: $base;
  padding: $padding;
  margin: $margin+5px;
  border-top-left-radius: $round + 10px;
  border-top-right-radius: $round + 10px;
}

.dockcurve {
  margin-bottom: $margin+5px;
  &.left {
    margin-right: -$margin - 5px;
    box-shadow: 0px 25px 0px $base;
    border-bottom-right-radius: $round+10px;
  }
  &.right {
    margin-left: -$margin - 5px;
    box-shadow: 0px 25px 0px $base;
    border-bottom-left-radius: $round+10px;
  }
}
