
.batscale {
  all: unset;
  trough {
    min-width: 60px;
    min-height: 20px;
    border-radius: $round;
    background-color: $surface1;
    margin: 0px $margin;

    slider {
      min-height: 20px;
      min-width: 20px;
      margin: -5px;
    }

    highlight {
      background-color: $accent;
      border-top-left-radius: $round;
      border-top-right-radius: 0;
      border-bottom-left-radius: $round;
      border-bottom-right-radius: 0;
    }
  }

  // &.charging trough highlight {
  //   background-color: $green;
  // }
  //
  // &.dying trough highlight {
  //   background-color: $red;
  // }
}

.batslideoverlays {
  border-radius: 10px;
  box-shadow: 
    inset -$padding 0px 0px 0px $base, 
    inset $padding 0px 0px 0px $base;
}

.sysslide {
  all: unset;
  trough {
    background-color: $surface2;
    border-radius: $round;
    margin : $margin;
    min-height: 10px;
    min-width: 80px;

    slider {
      min-height: 15px;
      min-width: 15px;
      margin: -10px;
    }

    highlight {
      background-color: $accent;
      border-radius: $round;
    }
  }
}

.boxslides {
  all: unset;
  trough {
    background-color: $surface1;
    border-radius: $round;
    margin : $margin;
    min-height: 80px;
    min-width: 80px;

    slider {
      min-height: 15px;
      min-width: 60px;
    }

    highlight {
      background-color: $surface2;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: $round;
      border-bottom-right-radius: $round;
    }
  }
}

.boxslideoverlays {
  border-radius: $round;
  box-shadow: 
    inset -$padding $padding 0px 0px $base, 
    inset $padding $padding 0px 0px $base,
    inset -$padding $padding*-1 0px 0px $base, 
    inset $padding $padding*-1 0px 0px $base;
}
